@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Cormorant+Garamond:wght@300&family=DM+Sans:wght@400;700&family=Della+Respira&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: Della Respira;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bk-sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*------------------------------- Login -------------------------------------*/

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

/*------------------------------- Register -------------------------------------*/
.register {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.register h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.register form {
    font-size: 20px;
}

.register form .form-group {
    margin-bottom: 12px;
}

.register form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.mt-about{
    margin-top: 100px!important;
}
