@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Cormorant+Garamond:wght@300&family=DM+Sans:wght@400;700&family=Della+Respira&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: Della Respira;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../../web/img/bk-sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hov-text {
    transition: all 0.3s;
}

.hov-text:hover {
    color: rgb(209, 209, 209) ;
    transition: all 0.3s;
}
